@import "react-slideshow-image/dist/styles.css";
@tailwind base;
h3 {
  @apply text-xl font-sans font-[750];
}
h4 {
  @apply text-lg font-sans font-[750];
}
body {
  @apply text-base font-sans font-[400];
}

@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn-primary {
  background-color: #1EAA4D;
  color: #FFFFFF;
  border-radius: 8px;
}
.btn-primary:hover {
  background-color: #1A8E41;
}
.btn-primary:active {
  background-color: #17863C;
}

.btn-secondary {
  background-color: #FFFFFF;
  color: #1EAA4D;
  outline: #1EAA4D;
  border: 1px solid;
  border-radius: 8px;
}
.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #1EAA4D;
  border: none;
}
.btn-secondary:active {
  color: #FFFFFF;
  background-color: #1A8E41;
  border: none;
}

input:focus {
  border: 1px solid #101010;
  outline: none;
}
input:disabled {
  background-color: #FFFFFF;
  color: #ccc;
}

